In [1]:
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books (id integer, title text, price integer)
''')

c.execute('''
    INSERT INTO books VALUES (1, 'python 가이드', 5000)
''')

c.execute('''
    INSERT INTO books VALUES (2, 'js 가이드', 5000)
''')

conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 5000)

In [5]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()


# c.execute('''
#     CREATE TABLE books (id integer, title text, price integer)
# ''')
for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'python 가이드', {i*1000})")

conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'python 가이드', 0)
(1, 'python 가이드', 1000)
(2, 'python 가이드', 2000)
(3, 'python 가이드', 3000)
(4, 'python 가이드', 4000)
(5, 'python 가이드', 5000)
(6, 'python 가이드', 6000)
(7, 'python 가이드', 7000)
(8, 'python 가이드', 8000)
(9, 'python 가이드', 9000)

In [7]:
## 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [8]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM post ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

In [11]:
# 실습 4
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('select * from blog_movie'):
    print(row)

conn.close()

In [15]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
book_list = soup.select('.book_name')
data = []
for book in book_list:
    data.append([book.text, 10])
# print(soup.title)                      # title 태그 출력
# print(soup.find('title'))              # title 태그 출력
# print(soup.find(id='content'))         # id 가 'content'인 태그 출력

# print(soup.find_all('a'))              # 모든 a 태그 출력
# print(soup.select('#content'))         # id 가 'content'인 모든 태그 출력 
# print(soup.select('.container > a'))   # 'container' class 안에 모든 a 태그 출력

In [16]:
data

[['메모혁신 Notion(노션) 활용 가이드', 10],
 ['이력서 작성 가이드', 10],
 ['제주코딩베이스캠프 Code Festival: Python 100제 1부', 10],
 ['튜토리얼로 배우는 HTML&CSS', 10],
 ['코딩도장 튜토리얼로 배우는 Python 1편 object', 10],
 ['코딩도장 튜토리얼로 배우는 python 2편 제어문', 10],
 ['코딩도장 튜토리얼로 배우는 Python 문제풀이', 10],
 ['타노스의 건틀릿 알고리즘 With Python', 10],
 ['xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10],
 ['러플 튜토리얼로 배우는 Python', 10],
 ['인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10]]

In [21]:
# 실습 4
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for i in range(len(data)):
    c.execute(f'INSERT INTO blog_movie VALUES ({i+1}, "{data[i][0]}", {data[i][1]})')

conn.commit()


conn.close()

In [22]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('SELECT * FROM blog_movie ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, '메모혁신 Notion(노션) 활용 가이드', 10)
(2, '이력서 작성 가이드', 10)
(3, '제주코딩베이스캠프 Code Festival: Python 100제 1부', 10)
(4, '튜토리얼로 배우는 HTML&CSS', 10)
(5, '코딩도장 튜토리얼로 배우는 Python 1편 object', 10)
(6, '코딩도장 튜토리얼로 배우는 python 2편 제어문', 10)
(7, '코딩도장 튜토리얼로 배우는 Python 문제풀이', 10)
(8, '타노스의 건틀릿 알고리즘 With Python', 10)
(9, 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10)
(10, '러플 튜토리얼로 배우는 Python', 10)
(11, '인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10)

In [ ]:
import sqlite3
conn = sqlite3.connect('crawl.db')