In [ ]:
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books (id integer, title text, price integer)
''')

c.execute('''
    INSERT INTO books VALUES (1, 'python 가이드', 5000)
''')

c.execute('''
    INSERT INTO books VALUES (2, 'js 가이드', 5000)
''')

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

In [ ]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()


# c.execute('''
#     CREATE TABLE books (id integer, title text, price integer)
# ''')
for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'python 가이드', {i*1000})")

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

In [ ]:
## 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [ ]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM post ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

In [ ]:
# 실습 4
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('select * from blog_movie'):
    print(row)

conn.close()

In [ ]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
book_list = soup.select('.book_name')
data = []
for book in book_list:
    data.append([book.text, 10])
# print(soup.title)                      # title 태그 출력
# print(soup.find('title'))              # title 태그 출력
# print(soup.find(id='content'))         # id 가 'content'인 태그 출력

# print(soup.find_all('a'))              # 모든 a 태그 출력
# print(soup.select('#content'))         # id 가 'content'인 모든 태그 출력 
# print(soup.select('.container > a'))   # 'container' class 안에 모든 a 태그 출력

In [ ]:
data

In [ ]:
# 실습 4
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for i in range(len(data)):
    c.execute(f'INSERT INTO blog_movie VALUES ({i+1}, "{data[i][0]}", {data[i][1]})')

conn.commit()


conn.close()

In [ ]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

for row in c.execute('SELECT * FROM blog_movie ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

In [ ]:
import sqlite3

# 데이터베이스, 테이블 생성
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# django에서 생성한 테이블을 사용하여서 코드는 미실행
# c.execute('CREATE TABLE blog_book (id INTEGER, title TEXT, price INTEGER, author TEXT)')

conn.commit()
conn.close()

In [ ]:
import requests
from bs4 import BeautifulSoup

# 크롤링 대상 크롤링 코드
url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
book_info_list = soup.select('.book_detail')

conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()
for idx, book_info in enumerate(book_info_list):
    index = idx+1
    title = book_info.select('.book_name')[0].text
    price = book_info.select('.book_info')[0].text.split(': ')[-1].replace('원', '').replace(',', '').replace('무료', '0')
    author = book_info.select('.book_info')[1].text.split(': ')[-1]
    c.execute(f'INSERT INTO blog_book VALUES ({index}, "{title}", {price}, "{author}")')

conn.commit()
conn.close()

In [ ]:
# 데이터베이스 Read
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()
for data in c.execute('SELECT * FROM blog_book'):
    print(data)
conn.close()

In [ ]:
!python mana