In [19]:
# 문제 1 : 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [{"name": "길동", "수학": 3, "과학": 93}, {"name": "춘향", "수학": 33, "과학": 11}, {"name": "철수", "수학": 94, "과학": 67}]
print(max(data, key=lambda x: x['수학'] + x['과학'])['name'])

# 문제 2 : 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
for key in grades:
	grades[key] += 5
print(grades)

# 문제 3 : 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요
s = "apple banana apple cherry banana cherry apple"
sList = s.split(' ')
wordDic = {}
while sList:
	word = sList[0]
	wordDic[word] = sList.count(word)
	sList = list(filter(lambda x:x!=word, sList))
print(max(wordDic, key=lambda x:wordDic[x]))

철수
{'Tom': 92, 'Jerry': 100, 'Mickey': 75}
apple

# 조건문

In [1]:
if True:
	pass

In [1]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [2]:
def f():
	return True

if f():
	print('hello')

hello

In [3]:
# 성능에 영향을 끼침
def f():
	return True

def ff():
	return 'hello'

if f() and ff():
	print('hello')

'hello'

In [5]:
def f():
	return False

def ff():
	return 'hello'

if f() or ff():
	print('hello')

hello

In [6]:
my_function = lambda x: 'Even' if x % 2 == 0 else 'Odd'

In [7]:
my_function(2)

'Even'

In [8]:
x = -1
assert x > 0, '양수여야 한다!'

AssertionError: 양수여야 한다!

In [9]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [10]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 7:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [13]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [14]:
# if 중첩 예제
movie = {
	'영화' : '무빙',
	'장르' : 'SF',
	'서비스' : '디즈니',
	'비용' : 15000,
	'평점' : 4.9
}

if movie['장르'] == 'SF':
	if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
		if movie['평점'] >= 4.5:
			if movie['비용'] <= 10000:
				print('영화 시청')

In [15]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

In [16]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

# match

In [17]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [18]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [19]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [20]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

One
Two
Greater than two
Greater than two

In [23]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damage):
	match attack_type:
		case '물리공격' | '마법공격':
			print(f'{damage}의 데미지 입혔습니다.')
		case '정신공격':
			print(f'{damage}ms 만큼 상대방이 혼란을 느낍니다.')

attack('정신공격', 100) # 물리공격, 마법공격, 정신공격

# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격 : '100의 데미지 입혔습니다.'
# 정신공격 : '100ms 만큼 상대방이 혼란을 느낍니다.'

100ms 만큼 상대방이 혼란을 느낍니다.

# 반복문

In [24]:
for x in 'hello':
	print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [25]:
for x in (1, 2, 3, 4, 5):
	print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [34]:
x = iter('hello')
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x)) # error - StopIteration

h
e
l
l
o

StopIteration:

In [42]:
x = 'hello'
y = x.__iter__()

In [48]:
y.__next__()

StopIteration:

In [50]:
dir(range(10))

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [52]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

In [53]:
for key,value in 단어_사전.items():
    print('{0} : {1}'.format(key, value))

하나 : one
둘 : two
셋 : three

In [55]:
# 1부터 100까지 더하는 코드
result = 0
for i in range(101):
	if i % 2 == 0:
		result += i
result

2550

In [56]:
for i in [range(3), range(5), range(7)]:
	for j in i:
		print(j)

0
1
2
0
1
2
3
4
0
1
2
3
4
5
6

In [57]:
for i in range(2, 10):
	for j in range(1, 10):
		print(f'{i} * {j} = {i * j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [59]:
# 문제 : for 2중첩
# 다음과 같은 문자열이 있습니다.
s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.
for i in s:
	i_int = int(i)
	for j in range(1, 10):
		result = i_int * j
		print(f'{i} X {j} = {result}')

# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있엇을 때 아래와 같이 출력되어야 한다.
'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''
num_list = [2, 3, 6]

for i in num_list:
	for j in num_list:
		result = i * (j + 1)
		print(f'{i} X {j + 1} = {result}')

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42

In [60]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감    
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [61]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [63]:
import random
answer = random.randint(1, 1000)
while True:
	userinput = int(input('숫자를 입력해주세요.'))
	if userinput > answer:
		print('Down')
	elif userinput < answer:
		print('Up')
	else:
		print('축하합니다! 맞추셨어요!')
		break

Down
Up
Up
Up
Up
Up
Down
Up
Up
Up
Up
Down
Down
Down
Down

KeyboardInterrupt: Interrupted by user

In [64]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

8
5
8
5
0
10
0
2
5

In [65]:
i = 2
j = 1
while i < 10:
	while j < 10:
		print(f'{i} X {j} = {i*j}')
		j += 1
	j = 1
	i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
i = 2
j = 1
while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    i += 1

In [66]:
try:
    for i in range(2, 10):
        for j in range(1, 10):
            if i * j > 6:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
Done

In [76]:
data = data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]

# 문제 1: 평균 나이를 출력해주세요.
total_age = sum(list(map(lambda x: int(x['age']), data)))
	
avg_age = total_age / len(data)
print(avg_age)

gender_list = list(map(lambda x: x['gender'], data))

# 문제 2: 남여 성비를 출력해주세요
print(f'남자: {gender_list.count("남성")}, 여자: {gender_list.count("여성")}')

37.2
남자: 2, 여자: 3

# 클래스

In [82]:
class Car: # 차의 설계 도면 또는 차 공장입니다.
	max_speed = 300
	max_people = 5
	car_gear = ['P', 'D', 'R', 'N']

	def __init__(self, name) -> None:
		self.name = name

	def start(self):
		print('차가 출발합니다!')

	def stop(self):
		print('차가 멈췄습니다!')

modelx =  Car('Tesla Model X')

modelx.name

'Tesla Model X'

In [81]:
# 실제 게임 코드
class Character:
	def __init__(self, name, role, hp, mp, power):
		self.name = name
		self.role = role
		self.hp = hp
		self.mp = mp
		self.power = power
		
	def attack(self):
		print('공격')

	def defence(self):
		print('방어')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villian_thanos = Character('타노스', '빌런', 100, 100, 200)

In [83]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [84]:
modelx.hello = 'hello world'

In [85]:
modelx.hello

'hello world'

In [88]:
def hello():
	print('hello world')

print(type(hello))
hello.hi = 'hi, world'

<class 'function'>

In [89]:
hello.hi

'hi, world'

In [91]:
s = 10
s.hi = 'hi, world'
s.hi

AttributeError: 'int' object has no attribute 'hi'

In [92]:
s = 'hello'
s.hi = 'hi, world'
s.hi

AttributeError: 'str' object has no attribute 'hi'

In [93]:
s = [10, 20, 30]
s.hi = 'hi, world'
s.hi

AttributeError: 'list' object has no attribute 'hi'

In [94]:
s = {'one':1}
s.hi = 'hi, world'
s.hi

AttributeError: 'dict' object has no attribute 'hi'

In [95]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [101]:
class Points:

	def __init__(self, x, y):
		self.x = x
		self.y = y

	def __add__(self, other):
		print(self.x, self.y)
		return Points((self.x + other.x), (self.y + other.y))
	
	def distance(self, other):
		dx = self.x - other.x
		dy = self.y - other.y
		return (dx**2 + dy**2) ** 0.5

dot1 = Points(10, 20)
dot2 = Points(20, 30)

dot3 = dot1 + dot2
dot3.distance(dot1)

10 20

36.05551275463989

In [107]:
class Matrix:

	def __init__(self, value):
		self.value = value

	def __add__(self, other):
		result = []

		for k, v in enumerate(self.value):
			result.append(v + other.value[k])
		
		return result
	
	def __mul__(self, other):
		if isinstance(other, int):
			return [i * other for i in self.value]
		return '정수형 곱만 허용'


m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 * 2

[20, 40, 60]

In [ ]:
class 게시물설계도:
	id = int()
	title = str()
	contents = str()
	author = str()
	create_time = str()
	update_time = str()
	view_count = int()
	last_connect_location = str()
	last_connect_time =str()

게시물1 = 게시물설계도()
게시물2 = 게시물설계도()

# 연습 문제

In [123]:
# 아래 기본 data를 기반으로 문제를 풀어주세요.
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
  }
]
# 문제 1 gender, age값을 추출해보세요. 아래 양식처럼 추출하시면 됩니다. 가능하면 map을 사용해주세요.
'''
 [
  {
    "gender": "여성",
    "age": "43"
  },
  {
    "gender": "남성",
    "age": "22"
  },
  {
    "gender": "남성",
    "age": "31"
  }
]
'''
output_data = list(map(lambda x: {"gender": x["gender"], "age": x["age"]}, data))

# 문제 2 User라는 class를 만들어 해당 데이터를 관리해주세요. 아래처럼 저장되어야 합니다. 
# 다만 꼭 변수 이름이 user_1...user_n 일 필요는 없습니다.
# 저장양식: '[user_1, user_2, user_3]'
class User:
	def __init__(self, data):
		self._id = data['_id']
		self.index = data['index']
		self.name = data['name']
		self.gender = data['gender']
		self.age = data['age']
user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])
user_list = [user_1, user_2, user_3]

# 문제 3 BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다.
# 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다. 
# 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

class BankAccount:
	def __init__(self, owner, balance):
		self.owner = owner
		self.balance = balance

	def deposit(self, amount):
		if amount > 0:
			self.balance += amount
			return '입금이 정상 처리 됐습니다.'
		return '0원 이하의 금액은 입금할 수 없습니다.'
	
	def withdraw(self, amount):
		if amount <= 0:
			return '0원 이하의 금액은 출금할 수 없습니다.'
		if amount <= self.balance:
			self.balance -= amount
			return '출금이 완료됐습니다.'
		return '잔액 부족'

[<__main__.User object at 0x000002371D9A2E60>, <__main__.User object at 0x000002371D9A1270>, <__main__.User object at 0x000002371D9A07F0>]